:root {
    --button-color: #4D5AE5;;
    --white-text: #FFFFFF;
    --text : #434455;
    --dark: #2E2F42;
    --accent:  #E7E9FC;;
    --cloud: #F5F4FA;


}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
a {
    text-decoration: none;
    color:inherit
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color:var(--text);
    
}

/* ------section header------ */

header {
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;

}
.container {
    width: 1158px;
    margin: 0 auto; 
    padding: 0 15px;
}
.container-header {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--button-color);
    line-height: 1.17 ;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

span {
    color: var(--dark);
}
.menu, .header-list{
   display: flex;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.header-list {
    margin-left: 76px;
}
.header-menu:not(:first-child) {
    margin-left: 40px;
}
    
.header_item {
    list-style: none;
    text-decoration: none;
    color: var(--dark);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_item:hover {
    color: #404bbf;
}


.header_item:focus {
    color: #404bbf;
}

    
.active-menu{
    position: relative;
    color: #404bbf;
}
.active-menu:after{
    position: absolute;
    content: '';
    display: block;
    background-color: #404BBF;
    width: 100%;
    height: 4px;
    bottom: -27px;
    border-radius: 2px;
    
}



.header-address {
    display: flex;
    font-style: normal;
    margin-left: auto;

}

.header_info {  
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
    
 .header_info, .header_info_item, .header_info_item>a {
    display: flex;
    gap: 50px;
    font-weight: 400;
    text-decoration: none;
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 


}
.info-link:hover, .info-link:focus{
    color:#404bbf;
}
.info-link:focus {
    color:#404bbf;
}

/* ------section promo------ */


.promo {
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 600px;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
}
.promo_header {
    margin: 0 auto;
    font-size: 56px;
    width: 500px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-text);
}
.btn {
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: var(--white-text);
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 48px;
    cursor: pointer;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
    background-color:#404BBF;
    
}

/* ------section advantages------ */

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages_list {
    display: flex;
    
}

.advantages-backgr {
    background-color: var(--cloud);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
}

.advantages-icon {
    width: 64px;
    height: 64px;
}
.advantages_list_item {
    width: 264px;
    margin-left: 24px;
}
.advantages_list_item:first-child {
    margin-left: 0;
}
.advantages_list_head {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    
}
.advantages_list_text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text)
}

/* ------section what we do------ */

.what_we_do {
    padding-top: 0;
    padding-bottom: 120px;
}
.what_we_do-head {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--dark);
    letter-spacing: 0.02em;
    
}
.what_we_do_list {
    display: flex;
    margin-top: 72px;
}

.what_we_do_list_item:nth-last-child(-n + 2) {
    margin-left: 24px;
}

/* ------section our team------ */

.our_team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
}

.our_team_head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our_team_cards {
    text-align: center;
    display: flex;
    
}
.our_team_item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.our_team_item:nth-last-child(-n +3) {
    margin-left: 24px;
}
.our_team_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    
}
.our_team_position {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text)
    
}
.our-team-footer {
    padding: 32px 16px;
}
.cocial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:var(--button-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-icon{
    width: 16px;
    height: 16px;
}
.our-team-wraper{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
.studio-footer{
    background-color: var(--dark);
    padding: 100px 0;
}
.cocial:hover, .cocial:focus{
    background-color:#404BBF;
}

/* ------section customers----- */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.customers-wraper{
    display: flex;
    margin: 0 auto;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.customers-bacgr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid currentColor;
    color:#8E8F99;
    border-radius: 5px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-bacgr:hover, .customers-bacgr:focus{
    color: #404BBF;
}
 .customers-icon:hover, .customers-icon:focus{
    fill: #404BBF;
}

/* ------section footer----- */

.footer-container {
    display: flex;
}
.footer-span {
    color: #f4f4fd;
}
.footer-block {
    width: 264px;
}

.footer_list {
    display: flex;
    margin-top: 16px;
    gap: 16px;
}
.footer_txt {
    display: inline-block;
    margin-top: 16px;
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
    letter-spacing: 0.02em;
}
.footer-social-block {
    margin-left: 120px;
}
.footer_social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.footer_social:hover, .footer_social:focus  {
    background-color: #31D0AA;
}
.footer_social-icon {
    width: 24px;
    height: 24px;
}
.social-block-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-text);
}

/* ------section portfolio----- */


.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-btn-list {
    display: flex;
    justify-content: center;
}
.portfolio-btn-list-item:not(:first-child) {
    margin-left: 24px;
}
.portfolio-btn {
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    background-color: var(--cloud);
    border: 1px solid var(--accent);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    border-radius: 4px;
    line-height: 1.5;
    cursor: pointer;
    color: var(--button-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);        
}



.portfolio-btn:hover, .portfolio-btn:focus{
    background-color: var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--white-text);
    

}
.portfolio-card {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

    
}

.portfolio-card-footer {
    border: 1px solid var(--accent);
    padding: 32px 16px;
    border-top: none;
}

.portfolio-card-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    
}
.potfolio-card-txt {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  var(--text);
}
.portfolio-card-link {
    display: block;
}


.portfolio-image-block {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
}
.portfolio-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color:#4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-card-link:hover .portfolio-overlay, .portfolio-card-link:focus .portfolio-overlay{
    transform: translateY(0);
    

}
.portfolio-card-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}





/*------modal------*/ 

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 408px;
    min-height: 576px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%,-50%);
}
.close-round {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius:50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.close-point{
    width: 8px;
    height: 8px;
    cursor:pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-round:hover, .close-point:hover .close-round:focus, .close-point:focus {
    background-color: #404BBF;
    border: none;
    fill: white;
}


